.root {
  width: 50%;
}
.chart {
  gap: 1.5rem;
  padding: 1.5rem 0 0.9rem 0;
  /* width: 600px; */
  height: 250px;
}
.legend {
  font-size: var(--font1);
  gap: 40px;
  color: var(--color8);
}
.legend span,
.legend span {
  display: inline-block;
  font-weight: 800;
  margin-left: -6px;
  font-size: 0.8rem;
  /* padding-left: 5px; */
}
.legendRow {
  align-items: center;
}
.free,
.paid {
  font-size: 30px;
  color: var(--color3);
  margin-left: -0.75rem;
}
.paid {
  color: var(--color4);
}
