.root {
  margin: 1rem 0;
  /* align-items: center; */
}
.menu,
.menuItem {
  display: flex;
  align-items: center;
}
.menu {
  justify-content: center;
  gap: 20px;
  border: solid 1px var(--color5);
  padding: 6px;
  border-radius: 10px;
  color: var(--color7);
  /* Prevent mouse drag */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  align-self: baseline;
}

.menuItem {
  gap: 5px;
  font-size: 0.9rem;
}
.profile {
  margin-left: auto;
  border: solid 2px var(--color5);
  border-radius: 6px;
  padding: 6px;
  /* width: 50px;
  aspect-ratio: 1/1; */
  /* text-align: center;
  place-content: center; */
  /* justify-content: center;
  align-items: center; */
  color: var(--color7);
  gap: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  align-self: baseline;
}
.user {
  /* margin-left: auto; */
  border: 0;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 0.6rem;
  align-self: baseline;
  /* width: 20px; */
  /* aspect-ratio: 1/1; */
  /* text-align: center;
  place-content: center; */
  color: var(--color7);
  background-color: var(--color6);
  font-weight: 600;
}
